@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(../../bower_components/sass-bootstrap/dist/css/bootstrap.css);
@import url(../../bower_components/normalize-css/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
.hidden {
  display: none; }

.fa-right {
  margin-right: 8px; }

.fa-left {
  margin-left: 8px; }

.fa-red {
  color: #e06663 !important; }

body,
input,
textarea,
button {
  font-family: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.website-max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 20px; }

/* NOTE: _modals.scss also contains some of the inputs styling. */
input[type=email],
input[type=text],
input[type=password],
input {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

[type=checkbox] {
  display: none; }

[type=checkbox] + label:before {
  content: "\f096";
  font-family: FontAwesome;
  vertical-align: middle; }

[type=checkbox]:checked + label:before {
  content: "\f046";
  font-family: FontAwesome;
  vertical-align: middle; }

[type=radio] {
  display: none; }

[type=radio] + label:before {
  content: "\f10c";
  font-family: FontAwesome;
  margin-right: 6px; }

[type=radio]:checked + label:before {
  content: "\f192";
  font-family: FontAwesome; }

[type="radio"]:checked + label {
  color: #333 !important; }

.header {
  color: #555;
  height: 64px;
  font-size: 13px;
  font-weight: 500;
  line-height: 64px; }
  .header .header-logo {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase; }
  .header .header-links {
    display: inline-block; }
    .header .header-links a,
    .header .header-links span {
      cursor: pointer;
      margin-left: 40px; }
  .header .header-auth {
    display: inline-block;
    float: right; }
    .header .header-auth a,
    .header .header-auth span {
      cursor: pointer;
      margin-left: 40px; }
  .header a:hover,
  .header span:hover {
    color: #528dcc; }

.footer {
  background: white;
  color: #ccc;
  font-size: 13px;
  font-weight: 500;
  height: 64px;
  line-height: 64px;
  text-align: center; }

.list-body {
  background: #eeeeee; }
  .list-body .list-content {
    height: 100vh; }
    .list-body .list-content .subscription-block {
      background: #fff;
      display: inline-block;
      height: 150px;
      margin: 20px 20px 0 0;
      position: relative;
      width: 150px; }
      .list-body .list-content .subscription-block img {
        height: 60px;
        width: 150px; }
      .list-body .list-content .subscription-block span {
        color: #bbb;
        font-size: 11px;
        font-weight: 500;
        display: block;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 100%; }
      .list-body .list-content .subscription-block button {
        background: #eee;
        border: 10px solid #fff;
        bottom: 0;
        color: #e06663;
        font-size: 11px;
        font-weight: 500;
        left: 0;
        padding: 10px 0;
        position: absolute;
        text-transform: uppercase;
        width: 150px; }
        .list-body .list-content .subscription-block button:hover {
          background: #e06663;
          color: #fff; }

.splash-body {
  background: #eeeeee; }
  .splash-body .splash-header {
    background: transparent; }
  .splash-body .splash-image {
    height: 400px; }
    .splash-body .splash-image img {
      display: block;
      margin: 0 auto 0 auto;
      padding: 80px 0 20px 0;
      width: 400px; }
    .splash-body .splash-image span {
      color: #555;
      display: block;
      font-size: 30px;
      text-align: center;
      width: 100%; }
  .splash-body .splash-content {
    background: white;
    height: 400px; }
