// Color palette
$very-light-purple: #ffe6ff;
$light-purple: #9b74e3;
$purple: #8a64d1;
$dark-purple: #45367c;
$red: #e06663;
$green: #1ebba6;

// Global
$website-max-width: 960px;

// Splash
$splash-bkg: #eee;
$splash-content-bkg: #fff;

// Store

// List

// Subscription
