// Color palette
$blue: #528DCC;
$red: #e06663;
$green: #1ebba6;

// Global
$website-max-width: 960px;

// Header

// Footer
$footer-bkg: #fff;

// Splash
$splash-bkg: #eee;
$splash-content-bkg: #fff;
$splash-header-bkg: transparent;

// Store

// List
$list-bkg: #eee;

// Subscription
