<div class="modal fade" id="single-subscription-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <div class="row">
                    <img class="pull-left" src="<%= imageUrl %>">
                    <h1> <%= name %></h1>
                    <div class="subscription-description">
                        <h3> <%= description %></h3>
                    </div>
                    <img class="blur" src="<%= imageUrl %>">
                </div>
            </div>
            <div class="modal-body">
                <div class="row modal-subscription-name">
                    <div class="col-md-3">
                        <h3><%= name %></h3>
                    </div>
                    <div class="col-md-9">
                        <div class="row modal-subscription-top">
                            <div class="col-md-4">
                                <h5>$<%= cost %>/month</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= lastUsed %></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>Status: <%= status %> <strong>
                               </strong></h5>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Subscriber since <%= startDate %></h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= daysLeft %> Days Left</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>Type: <%= type %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-buttons">
                        <% if (active) { %>
                            <button data-url='<%= url %>'class='btn btn-md btn-danger'>Cancel</button>
                        <% } else { %>
                            <button class='btn btn-md btn-success'>Renew</button>
                        <% } %>
                        <button class="btn btn-md btn-fun">Funsubscribe!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #single-subscription-dialog img {
        margin: 40px;
    }
    #single-subscription-dialog .subscription-description {
        margin-top: 75px;
        text-align: center;
    }
    #single-subscription-dialog .blur {
        position: absolute;
        top: -100px;
        left: -100px;
        padding: 0px;
        width: 150%;
        height: 500px;
        z-index: -1;
        -webkit-filter: blur(100px);
        transform: translate3d(100, 100, 0);
        opacity: .7;
    }
    #single-subscription-dialog h1 {
        padding: 80px;
        font-size: 3em;
    }
    #single-subscription-dialog .modal-dialog {
        width: 1000px;
        height: 650px;
    }
    #single-subscription-dialog .modal-dialog .modal-content {
        width: 100%;
        height: 100%;
        z-index: -2;
        overflow: hidden;
        position: relative;
    }
    #single-subscription-dialog .modal-dialog .modal-content .modal-header {
        height: 450px;
    }
    #single-subscription-dialog img {
        width: 200px;
    }
    #single-subscription-dialog .modal-dialog .modal-content .modal-body {
        height: 200px;
        background-color: white;
    }
    #single-subscription-dialog .modal-subscription-name {
        padding-left: 30px;
        margin-top: -15px;
    }
    #single-subscription-dialog .modal-buttons {
        margin-top: 35px;
        text-align: center;
    }
    #single-subscription-dialog .modal-buttons button {
        margin-left: 20px;
    }
    #single-subscription-dialog .modal-buttons .btn-fun {
        background-color: cyan;
        border-color: cyan;
        margin-left: 20px;
    }
</style>

