<div class="modal fade" id="single-subscription-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <img src="<%= imageUrl %>">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <hr>
            <div class="modal-body">
                <div class="row modal-subscription-name">
                    <div class="col-md-3">
                        <h3><%= name %></h3>
                    </div>
                    <div class="col-md-9">
                        <div class="row modal-subscription-top">
                            <div class="col-md-4">
                                <h5><%= cost %>/month</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= lastUsed %></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>Status: <strong>
                                    <% if (active) { %>
                                        Active
                                    <% } else { %>
                                        Inactive
                                    <% } %>
                               </strong></h5>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Subscriber since <%= startDate %></h5>
                            </div>
                            <div class="col-md-4">
                                <h5><%= daysLeft %> Days Left</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>Type: <%= type %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-buttons"> 
                        <% if (active) { %>
                            <button class='btn btn-md btn-danger'>Cancel</button>
                        <% } else { %>
                            <button class='btn btn-md btn-fun'>Renew</button>
                        <% } %>
                        <button class="btn btn-md btn-fun">Funsubscribe!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #single-subscription-dialog .modal-dialog { 
        width: 1000px;
        height: 750px;
    }
    #single-subscription-dialog .modal-dialog .modal-content { 
        width: 100%;
        height: 100%;
    }
    #single-subscription-dialog .modal-dialog .modal-content .modal-header { 
        height: 500px;
    }
    #single-subscription-dialog .modal-dialog .modal-content .modal-body { 
        height: 250px;
        background-color: white;
    }
    #single-subscription-dialog img { 
        width: 200px;
    }
    #single-subscription-dialog .modal-subscription-name { 
        padding-left: 30px;
        margin-top: -15px;
    }
    #single-subscription-dialog .modal-buttons { 
        margin-top: 85px;
        text-align: center;
    }
    #single-subscription-dialog .modal-buttons button { 
        margin-left: 20px;
    }
    #single-subscription-dialog .modal-buttons .btn-fun { 
        background-color: cyan;
        border-color: cyan;
        margin-left: 20px;
    }
</style>

