<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="login-email" placeholder="Email"/>
        <input type="password" class="login-password" placeholder="Password"/>
      </div>
      <div class="modal-footer">
        <button class="modal-cancel" data-dismiss="modal">Close</button>
        <button class="modal-submit login">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <input type="password" placeholder="Confirm password"/>
      </div>
      <div class="modal-footer">
        <button class="modal-cancel" data-dismiss="modal">Close</button>
        <button class="modal-submit">Register</button>
      </div>
    </div>
  </div>
</div>

    <!-- Header --> 
    <div class="header splash-header website-max-width">
      <div class="header-logo">
        <i class="fa fa-paper-plane fa-right"></i>
        Funsubscribe
      </div>
      <div class="header-auth">
        <span data-toggle="modal" id="register-modal" data-target="#register">Register</span>
        <span data-toggle="modal" id="login-modal" data-target="#login">Login</span>
      </div>
    </div>
    <!-- end Header --> 
    
<div class="splash-image website-max-width">
  <img src="assets/images/splash_2.png"/>
  <span>Tackle your subscriptions</span>
</div>

<div class="splash-content">
  <div class="website-max-width">

  </div>
</div>

<div class="footer splash-footer">
  <div class="website-max-width">
    Made at PennApps 2014
  </div>
</div>
