<div class="list-body">
    <div class="header website-max-width">
        <div class="header-logo">
            <a href="#">
                <i class="fa fa-paper-plane fa-right"></i>
                Funsubscribe
            </a>
        </div>
        <div class="header-links">
            <a href="">Store</a>
            <a href="">My Subscriptions</a>
        </div>
        <div class="header-auth">
            <a href="">Zack<i class="fa fa-cog fa-left"></i></a>
        </div>
    </div>

    <div class="website-max-width">

        <div class="personal-info pull-left">
            <img class="profile" src="http://placehold.it/120/120">
            <p>Razzi Abuissa</p>
            <p>razzi53@gmail.com</p>
            <p><b>$58.20</b> / month</p>

            <br>
            <small>MANAGE BILLING</small>
            <p href="#">**** **** **** 2371</p>

        </div>
        <div class="list-content row">
        </div>
    </div>

    <div class="footer">
        <div class="website-max-width">
            Made at PennApps 2014
        </div>
    </div>
</div>

<style type="text/css">
    .profile {
        padding: 30px ;
        border-radius: 100%;
    }
</style>
