.header {
  height: 64px;
  font-size: 13px;
  font-weight: 500;
  line-height: 64px;

  .header-logo {
    display: inline-block;
  }

  .header-auth {
    display: inline-block;
    float: right;

    a {
      margin-left: 40px;

      &:hover {

      }
    }
  }
}
