.list-body {
  background: $list-bkg;

  .list-header {

  }

  .list-content {
    height: 100vh;

    .subscription-block {
      background: #fff;
      display: inline-block;
      height: 150px;
      margin: 20px 20px 0 0;
      position: relative;
      width: 150px;

      img {
        height: 60px;
        width: 150px;
      }

      span {
        color: #bbb;
        font-size: 11px;
        font-weight: 500;
        display: block;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      button {
        background: #eee;
        border: 10px solid #fff;
        bottom: 0;
        color: $red;
        font-size: 11px;
        font-weight: 500;
        left: 0;
        padding: 10px 0;
        position: absolute;
        text-transform: uppercase;
        width: 150px;

        &:hover {
          background: $red;
          color: #fff;
        }
      }
    }
  }
}
