@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

body,
input,
textarea,
button {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
